<div class="card amenity-card">
    <a href="@amenityLink">
        <img class="card-img-top" src="@imgUrl" alt="@amenityName">
        <div class="card-body">
            <h5 class="card-title">@amenityName</h5>
            <p class="card-text">@amenityAddress</p>
        </div>
    </a>
</div>

@code {
    [Parameter]
    public string amenityLink { get; set; }

    [Parameter]
    public string imgUrl { get; set; }

    [Parameter]
    public string amenityName { get; set; }

    [Parameter]
    public string amenityAddress { get; set; }
}