<div class="card bookmark-card" @onclick="GoToPage">
    @if (BookmarkedAmenity != null)
    {
        <img class="card-img-top" src="@BookmarkedAmenity.ImgUrl" alt="@BookmarkedAmenity.Name" />
        <div class="card-body">
            <h5 class="card-title">@BookmarkedAmenity.Name</h5>
            <RadzenRating ReadOnly="true" Stars="5" Value="@BookmarkedAmenity.Rating" />
        </div>
    }
    else
    {
        <img class="card-img-top" src="@BookmarkedEvent.ImgUrl" alt="@BookmarkedEvent.Name" />
        <div class="card-body">
            <h5 class="card-title fw-bold">@BookmarkedEvent.Name</h5>
            <h5 class="card-title">@BookmarkedEvent.Time</h5>
        </div>
    }
    <button class="btn btn-notify" @onclick="Unbookmark">
        <i class="bi bi-bookmark-fill"></i>
    </button>
</div>


@code {
    [Parameter]
    public Amenity BookmarkedAmenity { get; set; }

    [Parameter]
    public Event BookmarkedEvent { get; set; }

    public void Unbookmark()
    {
        // child and parent

    }

    public void GoToPage() 
    {

    }
}
