<div class="card review-card" type="button" data-bs-toggle="modal" data-bs-target="#editReview">
    <div class="card-body">
        <div class="review-header">
            <RadzenRating ReadOnly="true" Stars="5" Value="@ReviewItem.rating" />
            <p class="card-text">@ReviewItem.PublishedDate</p>
        </div>

        <h5 class="card-title">@ReviewItem.user</h5>
        <p>@ReviewItem.review</p>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editReview" tabindex="-1" aria-labelledby="editReviewModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="page-header">
                    <h3>Rate <b>@ReviewItem.place.Name</b></h3>
                    <button class="btn btn-close"></button>
                </div>
                <hr>

                <div class="page-body">
                    <form class="forget-form">
                        <div class="rating">
                            <p for="floatingTextarea">Your Rating</p>
                            <RadzenRating Stars="5" Value="@ReviewItem.rating"/>
                        </div>

                        <div class="review">
                            <p for="floatingTextarea">Your Review</p>
                            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" style="height: 100px">
                                @ReviewItem.review
                            </textarea>
                        </div>

                        <div class="form-controls">
                            <button type="submit" class="btn btn-submit">Submit</button>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>
</div>

@code {
    [Parameter]
    public Review ReviewItem { get; set; }
}