@page "/trips"
@inject PageHistoryState PageHistoryState

<PageTitle>Trips</PageTitle>

<AuthorizeView>
    <Authorized>
        <div class="page-container">
            <div class="page-header">
                <p class="text-wrap fs-3 page-title">Trips</p>
            </div>
            <div class="page-body">
                @if (user.Trips.Count > 0)
                {
                    @foreach(Trip trip in user.Trips)
                    {
                        <TripCard TargetTrip="@trip" />
                    }
                }
                else
                {
                    <hr />
                    <div class="empty-result">
                        You don't have any upcoming trip! Start creating one today!
                    </div>
                }
            </div>

            <div class="btn-fixed dropdown">
                <button class="btn btn-round btn-add" type="button" data-bs-toggle="dropdown">
                    <i class="bi bi-plus-lg"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li>
                        <button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#newTrip">
                            Create a New Trip
                        </button>
                    </li>
                    <li>
                        <button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#suggestedTrip">
                            Generate a Suggested Trip
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="user-request">
            <a href="/signup" class="btn btn-secondary-filled btn-larger-font">
                Sign Up
            </a>
            <a href="/login" class="btn btn-primary-filled btn-larger-font">
                Login
            </a>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {
    [CascadingParameter]
    public StateModel state { get; set; }

    [CascadingParameter]
    public UserModel user { get; set; }

    Trip newTrip = new Trip();
    RecommendedTripModel recommendedTrip = new RecommendedTripModel();
    HashSet<string> desiredTypes = new HashSet<string>();

    protected override void OnInitialized()
    {
        state.OnTab = 3;
        state.OnSearch = false;
        PageHistoryState.AddPageToHistory("/trips");
    }

    private void ValidateTripCreation()
    {
        newTrip.id = user.Trips.Count.ToString();
        if (newTrip.Name == null) newTrip.Name = "Default" + newTrip.id;
        user.Trips.Add(newTrip);
        newTrip = new Trip();
    }

    string selected;

    private void TypeSelection(ChangeEventArgs e) => desiredTypes.Add(e.Value.ToString());

    private void ReviewSelected(string tag) {
        desiredTypes.Remove(tag);
        selected = "";
    }

    private void Regenerate()
    {

    }

    private void SaveTrip()
    {
        newTrip = new Trip();
        newTrip.id = user.Trips.Count.ToString();
        newTrip.Name = "Default" + newTrip.id;
        newTrip.Plans = recommendedTrip.Plans;
        newTrip.StartDay = recommendedTrip.StartDay;
        newTrip.EndDay = recommendedTrip.EndDay;
        newTrip.Days = recommendedTrip.Days;
        user.Trips.Add(newTrip);
    }
}

<div class="modal fade" id="newTrip" aria-hidden="true" aria-labelledby="newTripLabel" tabindex="-1">
    <div id="modal-center" class="modal-dialog modal-dialog-centered">
        <div class="modal-content modal-background">
            <div class="modal-body">
                <div class="trip-form">
                    <h5 class="create-option">Create a New Trip</h5>
                    <div class="form-floating mt-3 mb-3">
                        <input @bind="newTrip.Name" class="form-control" id="tripName" placeholder="Happy Trip" />
                        <label for="tripName">Trip Name</label>
                    </div>
                    <div class="form-controls modal-footer">
                        <button type="button" class="btn btn-close-variant btn-outline-dark" data-bs-dismiss="modal" aria-label="Close">Close</button>
                        <button type="button" class="btn btn-save" data-bs-target="#tripSuccess" data-bs-toggle="modal" @onclick="ValidateTripCreation">Create New Trip</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="suggestedTrip" tabindex="-1" aria-labelledby="suggestedTripLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-body">
                <div class="trip-form">
                    <h5 class="create-option">Create a Suggested Trip</h5>
                    <div class="form-floating mt-3 mb-3">
                        <input @bind="recommendedTrip.Start" type="date" class="form-control" id="startDate" required>
                        <label for="startDate&Time">Start Date</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input @bind="recommendedTrip.End" type="date" class="form-control" id="endDate" required>
                        <label for="endDate">End Date</label>
                    </div>

                    <div class="form-floating mb-3">
                        <select class="form-select" aria-label="trip types" value="@selected" @onchange="(e) => TypeSelection(e)">
                            <option selected></option>
                            <option value="outdoor">Outdoor</option>
                            <option value="shopping">Shopping</option>
                            <option value="monuments">Monuments</option>
                            <option value="nature">Nature</option>
                            <option value="art">Art</option>
                            <option value="culture">Culture</option>
                            <option value="park">Park</option>
                            <option value="games">Games</option>
                            <option value="sports">Sports</option>
                            <option value="museums">Museums</option>
                        </select>
                        <label>Desired Types of Trip</label>
                    </div>

                    <div class="selected-types">
                        @foreach (string tag in desiredTypes)
                        {
                                <span class="badge rounded-pill selected-type" @onclick="() => ReviewSelected(tag)">@tag</span>
                        }
                    </div>

                    <div class="form-controls modal-footer">
                        <button type="button" class="btn btn-close btn-outline-dark" data-bs-dismiss="modal" aria-label="Close">Close</button>
                        <button type="button" class="btn btn-save" data-bs-toggle="modal" data-bs-target="#generatedTrip">
                            Create
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="generatedTrip" tabindex="-1" aria-labelledby="generatedTripLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content create-new-trip">
            <div id="temp-trip" class="form-controls modal-header">
                <button type="button" class="btn btn-regenerate" data-bs-dismiss="modal" @onclick="Regenerate">Regenerate</button>
                <button type="button" class="btn btn-save" data-bs-dismiss="modal" @onclick="SaveTrip">Save</button>
            </div>
            <div class="modal-body">
                @*<DayPlans planDate="@day1" />*@
                <hr />
                @*<DayPlans planDate="@day2" />*@
            </div>
        </div>
    </div>
</div>